.container{
    width: 1180px;
    margin-left: 20%;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color:cornflowerblue;
    background-image: url("../img/pattern.png");
    height: 180px;
    width: auto;
}

.logo{
    margin-top: 75px;
    height: 80px;
    width: auto;
}

.Title{
    font-size: 50px;
    font-weight: 900;
    margin-top: auto;
    margin-bottom: 0%;
}

.Author{
    font-size: 25px;
}

b{
    color: darkcyan;
}

.Didascalie{
    font-size: 15px;
}

main{
    font-size: 22px;
}

.monitor{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: auto;
    color: white;
    font-size: 150%;
}
.graph{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: auto;
    color: white;
    font-size: 150%;
}

