.container{
    width: 1250px;
    margin-left: 20%;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color:cornflowerblue;
    background-image: url("../img/pattern.png");
    height: 180px;
    width: auto;
}

.logo{
    margin-top: 75px;
    height: 80px;
    width: auto;
}

.Title{
    font-size: 50px;
    font-weight: 900;
    margin-top: auto;
    margin-bottom: 0%;
}

.Author{
    margin-top: auto;
    font-size: 25px;
}

b{
    color: cornflowerblue;
}

.data{
    margin-top: auto;
}

.Didascalie{
    font-size: 15px;
}

main{
    font-size: 22px;
}

.Evidenziato{
    background-color: yellow;
}
table{
    width: 100%;
}

.categ{
    height: 20px;
    background-color:rgb(10, 169, 243);
    color: white;
    font-size: 16px;
}

tbody{
    height: 80px;
}
.pari{
    background-color: lightskyblue;
    font-size: 20px;
}

.Interess{
    font-size: 22px;
    color: rgb(116, 115, 115);
}
.monitor{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: auto;
    color: white;
    font-size: 150%;
}
.graph{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: auto;
    color: white;
    font-size: 150%;
}

